.container-padding { /*adding padding around container*/
	padding: 1em;
}

.restrict-width { /*reducing space between images by restricting the container width*/
	width: 75%;
}

.image-container { /*adding margin and padding to images within container*/
	margin: auto;
	padding-bottom: 15px;
}

.image-hover:hover { /*adding transparent hover effect*/
	transition-duration: 1s;
	opacity: .7;
}

.row-center { /*centering the rows within the container*/
	margin: auto;
}
